<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Blog address</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @blogs.each do |role, blogs| %>
    <%= render :partial => "blogs/blog", :collection => blogs unless blogs.empty? %>
  <% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
