<div class="container-fluid">

  <div class="row-fluid"style="border-bottom: 2px solid #de9f00;">

    <div class="span2" style="border-right: 2px solid #de9f00; height:500px;">
      Advertisement Area
    </div><!--/span-->

    <div class="span8">
      <%= yield %>
    </div>

    <div class="span2" style="border-left: 2px solid #de9f00; height:500px;">
      Advertisement Area
    </div><!--/span-->

  </div><!--/row-->

  <%= render :partial => 'layouts/site_foot' %>

</div> <!-- /container -->