<div class="container-fluid">

  <div class="row-fluid">

    <div class="span2">
    </div><!--/span-->

    <div class="span8">
      <%= yield %>
    </div>

    <div class="span2">
    </div><!--/span-->

  </div><!--/row-->

  <%= render :partial => 'layouts/site_foot' %>

</div> <!-- /container -->